body {
  background-image: radial-gradient(
    circle at center center,
    rgb(6, 242, 198),
    rgb(12, 102, 197)
  );
}

.boxes {
  margin: 50px auto;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 20px;
  box-sizing: border-box;
}
.box {
  background-color: bisque;
  height: 100px;
  cursor: pointer;
  box-shadow: -1px 3px 13px 1px rgba(231, 11, 11, 1);
  -webkit-box-shadow: -1px 3px 13px 1px rgba(231, 11, 11, 1);
  -moz-box-shadow: -1px 3px 13px 1px rgba(231, 11, 11, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}
h1 {
  color: rgb(13, 29, 121);
  font-family: fantasy;
  margin-left: 30%;
}
